#header-bar {
    --header-bar-height: 3rem;

    display: flex;
    align-items: center;
    background-color: #555555;
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    height: var(--header-bar-height);
    z-index: 10;
    border: 2px solid white;

    * {
        height: 100%;
    }

    >* {
        flex: 1 1 0px;
    }

    >.header-bar--center {
        height: var(--header-bar-height);
        display: flex;
        justify-content: center;
        align-items: center;

        >h1,
        >h2 {
            height: auto;
            text-align: center;
            white-space: nowrap;
            text-wrap: nowrap;
        }
    }

    >.header-bar--left,
    >.header-bar--right {
        display: flex;

        >img {
            filter: invert(1);
        }
    }

    >.header-bar--right {
        justify-content: end;

        >* {
            margin-right: 0.5rem;
        }

        :last-child {
            margin-right: 0rem;
        }

        >img.new-item-button {
            transition: transform 0.7s ease-out;
            transform: rotate(0deg);

            &.new-item-active {
                transform: rotate(45deg);
            }
        }

        >img.save-item-button {
            --animation-duration: 0.5s;

            transition: visibility var(--animation-duration), opacity var(--animation-duration) linear;
            visibility: hidden;
            opacity: 0;

            &.new-item-active {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
