section#list-sec {
    display: flex;
    justify-content: center;
}

#shopping_list {
    flex: 100% 1 1;
    max-width: 1300px;
    list-style-type: none;
    margin: 0;
    padding: 0 1rem;
}

.new-item,
.item {
    --padding: 0.5rem;

    height: 5rem;
    overflow: hidden;
    border: 2px solid #ddd;
    padding: var(--padding) 0 var(--padding) var(--padding);

    display: flex;
    align-items: center;

    >img {
        height: 100%;
    }

    >span,
    >input[type="text"] {
        flex-grow: 1;
    }
}

.item {
    background-color: grey;
}

.item:has(> input[type="checkbox"]:checked) {
    text-decoration: line-through;
}

.new-item {
    background-color: lightgreen;
    color: black;

    >div.new-item--buttons {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0.8rem 0;

        >img:first-child {
            margin-left: 1rem;
        }

        >img {
            margin-right: 1rem;
            max-height: 100%;
        }
    }
}
