section#list-sec {
    display: flex;
    justify-content: center;
}

ul#shopping_list {
    width: 100%;
    max-width: 1300px;
    list-style-type: none;
    margin: 0;
    padding: 0 max(0.5rem, 10vw - 3rem);
}

.item,
.new-item {
    --item-height-small: 5rem;
    --item-height-expanded: 10rem;
    --item-border: 2px;
    --variant-border: var(--item-border);
    --item-content-height-small: calc(var(--item-height-small) - 2 * var(--item-border) - 2 * var(--spacing));
    --item-content-height-expanded: calc(var(--item-height-expanded) - 2 * var(--item-border) - 2 * var(--spacing));
    --spacing: 0.5rem;


    transition: height 0.5s ease-out;
    //height: min-content;
    height: var(--item-height-small);

    >.variants-container {
    }

    &[expanded] {
        height: var(--item-height-expanded);
    }

    border: var(--item-border) solid #ddd;
    padding: var(--spacing);
    border-radius: 4px;
    margin-top: 0.2rem;
    overflow: hidden;

    display: flex;
    align-items: stretch;
    gap: var(--spacing);

    >input[type="checkbox"] {
        flex: 0 0 20px;
        margin: 0;
    }

    >.variants-container {
        flex: 1 1 0px;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        display: flex;
        gap: var(--spacing);
    }

    >.rhs {
        flex: 0 0 2rem;
        align-self: flex-start;
        height: calc(var(--item-content-height-expanded));

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >.item-count {
            height: calc(var(--item-content-height-small));
            overflow: hidden;
        }
    }

    /*
    >img.expand-button {
        height: 2rem;
        filter: invert(1);

        transition: transform 0.7s ease-out;
        transform: rotate(0deg);

        &.expanded {
            transform: rotate(180deg);
        }
    }

    &[expanded]>img.expand-button {
        transform: rotate(180deg);
    }
    */
}

.item {
    background-color: grey;
}

.item[checked] .variant {
    text-decoration: line-through;
}

.new-item {
    background-color: lightgreen;
    color: black;
}

.variant,
.new-variant,
.add-variant {
    flex: 0 0 100%;
    height: 100%;
    overflow: hidden;
    scroll-snap-align: start;

    border: var(--variant-border) solid darkgrey;

    &:only-child {
        border-color: transparent;
    }

    display: flex;
}

.variant,
.new-variant {
    gap: var(--spacing);

    >div.image {
        --border-radius: 10%;
        /* this height value must equal the height of the collapsed variant content */
        height: calc(var(--item-content-height-small) - 2 * var(--variant-border));
        aspect-ratio: 1 / 1;
        border-radius: var(--border-radius);

        >img {
            border-radius: var(--border-radius);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &.barcode-scanner {
            padding: 6px;
            background-size: cover;
            background-position: center;

            >img {
                filter: drop-shadow(0 0 4px white);
            }
        }
    }

    >div.infos {
        flex-grow: 1;
        line-height: 1.2;
        height: min-content;

        >span,
        >input[type="text"] {
            display: block;
            width: 100%;
        }

        >.name {
            font-weight: bold;
        }

        >.brands,
        >.quantity {
            font-weight: 500;
            color: lightgrey;
        }
    }
}

.variant>div.infos {

    >.brands,
    >.quantity {
        font-size: 10pt;
    }
}

.new-variant>div.infos {
    >input[type="text"] {
        padding: 0 2px;
    }

    >.name {
        font-size: 10pt;
    }

    >.brands,
    >.quantity {
        font-size: 8pt;
    }
}

.add-variant {
    justify-content: center;

    >img {
        width: 2rem;
    }
}

.item-count {
    display: flex;
    flex-direction: column;
    align-items: center;

    >button {
        line-height: 1;
        width: 1rem;
        padding-left: 0px;
        padding-right: 0px;
    }

    >input {
        width: 100%;
        text-align: center;
    }

    >input::-webkit-outer-spin-button,
    >input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    >input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}
