@import "defaults.scss";

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.cursor-pointer {
    cursor: pointer;
}

span.error {
    color: black;
    background-color: indianred;
    border: 2px solid red;
    padding: 0.5rem;
    border-radius: 0.5rem;

}

@import "header-bar.scss", "list.scss", "popup.scss";
