$list-border: 1px solid #ddd;

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    //text-align: center;
}

section.shopping-list {
    > header {
        > div.input-fields {
            display: flex;
            flex-wrap: wrap;

            .new-item-name,
            .new-item-amount {
                flex: 1 0 0px;
            }
            .new-item-button {
                aspect-ratio : 1 / 1;
            }
        }
        > div.new-item-preview [hidden] {
            display: none;
        }
    }

    > ul {
        list-style-type: none;
        padding: 0;
        border: $list-border;

        li:last-child > div.item {
            border-bottom: none
        }
    }
}


div.item {
    padding: 8px 16px;
    border-bottom: $list-border;
    display: flex;
    align-items: center;

    > div.text {
        flex: 1 0 0px;
    }
    &[state="completed"] > div.text {
        text-decoration: line-through;
    }

    > div.buttons {
        justify-self: end;

        display: flex;

        > input {
            aspect-ratio : 1 / 1;
            cursor: pointer;
            width: 50px;
            height: 50px;
            margin-left: 5px;
            background-color: buttonface;
            padding: 5px 5px;
            border: 2px outset buttonborder;
            border-radius: 30%;

            &:not([always_shown]) {
                opacity: 0%;
            }
        }
    }
    &:hover > div.buttons > input {
        opacity: 100%;
    }

}

